show-episodes .season-header {
    position: relative;
    padding: 1rem;
    margin: 0 1rem;
    border-bottom: 1px dashed var(--grey-4);
}

show-episodes .season-header:hover {
    border-bottom: 1px solid var(--grey-4);
    cursor: pointer;
}

show-episodes .season-header:after {
    content: '';
    position: absolute;
    top: calc(50% - 0.2rem);
    right: 1rem;
    width: 0.4rem;
    height: 0.4rem;
    border: solid var(--grey-4);
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    transition: 0.25s;
}

show-episodes .season-header.expanded:after {
    transform: rotate(45deg);
}

show-episodes .season-header .season-title {
    font-weight: bold;
    font-size: 1.5rem;
}

show-episodes .season-header .episodes-in-season {
    color: var(--grey-5);
    font-size: 1.4rem;
    margin-left: 1rem;
}

show-episodes ul.episode-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    font-size: 1.4rem;
}

show-episodes ul.episode-list[hidden] {
    display: none;
}

show-episodes .episode-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: opacity 0.4s ease-out;
}

show-episodes .episode-list li:hover {
    transition: opacity 0s;
}

show-episodes .episode-list li:nth-child(2n) {
    background: var(--grey-1);
}

show-episodes .episode-list li > div {
    margin-left: 1rem;
}

show-episodes .episode-list li > div:last-child {
    margin-right: 1rem;
}

show-episodes .episode-list li.checked {
    background-color: var(--checked-episode-background);
}

show-episodes .episode-list li.remove {
    opacity: 0;
}

show-episodes .ep-info {
    flex: 1;
    padding: 0.5rem 0;
}

show-episodes .ep-title a {
    font-size: 1.3rem;
    font-weight: bold;
}

show-episodes .ep-number {
    display: inline-block;
    color: var(--accent-color);
    font-size: 1.2rem;
}

show-episodes .ep-date {
    display: inline-block;
    font-size: 1.2rem;
}

show-episodes .ep-comments {
    background-color: var(--episode-comments-bg-color);
    position: relative;
    color: var(--episode-comments-color);
    font-size: 1rem;
    padding: 3px;
    min-width: 2rem;
    text-align: center;
}

show-episodes .ep-comments:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-top-color: var(--episode-comments-bg-color);
    border-right-color: var(--episode-comments-bg-color);
}

show-episodes .ep-comments a,
show-episodes .ep-comments a:visited {
    color: var(--episode-comments-color);
}

.rating-block {
    position: relative;
    height: 3.2rem;
    padding: 0.5rem;
}

.rating-block:hover {
    background-color: var(--background-color);
    box-shadow: -1px -1px 0px 0px var(--grey-2), 1px 1px 0px 0px var(--grey-2);
}

.ep-rating {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 100%;
    height: 100%;
    /*height: 3.2rem;*/

    max-width: 0;

    overflow: hidden;
    background-color: var(--background-color);
    white-space: nowrap;
    z-index: 10;
    transition: max-width 0.2s ease-out;
}

.rating-block:hover .ep-rating {
    max-width: 14rem;
    box-shadow: 1px 1px 0px 0px var(--grey-2), 0px -1px 0px 0px var(--grey-2);
}

.ep-rating a {
    height: 2.2rem;
    margin-right: 0.2rem;
}

.ep-rating a.rating-star:active svg {
    transform: scale(0.9);
}

.ep-rating a.rating-star svg {
    height: 100%;
    width: auto;
    fill: var(--grey-3);
    pointer-events: none;
}

.ep-rating > a.rating-star.checked > svg {
    fill: var(--accent-color);
}

.ep-check {
    display: block;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 1px solid var(--font-color);
}

.ep-check:active:after {
    transform: scale(0.9);
}

.ep-check:hover {
    box-shadow: 0 0 2px var(--accent-color);
    border: 1px solid var(--accent-color);
}

.ep-rating:hover + .ep-check,
.ep-check.checked {
    border: 1px solid var(--accent-color);
}

.ep-rating:hover + .ep-check:after,
.ep-check.checked:after,
.ep-check:hover:after {
    content: '';
    position: absolute;
    background: url(../../../images/check.svg) center center no-repeat;
    background-size: 1.5rem 1.5rem;
    width: 2.2rem;
    height: 2.2rem;
    top: -1px;
    left: -1px;
}

.ep-rating > a:nth-child(1):hover > svg,
.ep-rating > a:nth-child(1):hover + * > svg,
.ep-rating > a:nth-child(1):hover + * + * > svg,
.ep-rating > a:nth-child(1):hover + * + * + * > svg,
.ep-rating > a:nth-child(1):hover + * + * + * + * > svg {
    fill: var(--accent-color);
}

.ep-rating > a:nth-child(2):hover > svg,
.ep-rating > a:nth-child(2):hover + * > svg,
.ep-rating > a:nth-child(2):hover + * + * > svg,
.ep-rating > a:nth-child(2):hover + * + * + * > svg {
    fill: var(--accent-color);
}

.ep-rating > a:nth-child(3):hover > svg,
.ep-rating > a:nth-child(3):hover + * > svg,
.ep-rating > a:nth-child(3):hover + * + * > svg {
    fill: var(--accent-color);
}

.ep-rating > a:nth-child(4):hover > svg,
.ep-rating > a:nth-child(4):hover + * > svg {
    fill: var(--accent-color);
}

.ep-rating > a:nth-child(5):hover > svg {
    fill: var(--accent-color);
}
