@import url('../modern-normalize.css');
@import url('../colors.css');

html {
    font-size: 62.5%; /* ==10px if default font size is 16px */
    line-height: 1.6;
}

header {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    border-bottom: 3px solid var(--accent-color);
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

header a {
    color: var(--header-font-color);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    accent-color: var(--accent-color);
    font-size: 1.4rem;
    background-color: #ececec;
    padding-top: 3rem;
}

.content {
    background-color: #f5f5f5;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.3);
}

:focus {
    outline: none;
}

:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--accent-color);
}

input[type='checkbox'],
input[type='radio'] {
    width: 1.7rem;
    height: 1.7rem;
}

.options-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
    gap: 2rem 1.5rem;
}

button.font-size {
    margin-left: 0.5rem;
    border: 1px solid #555555;
    border-radius: 5px;
}

button.font-size.current {
    background-color: rgba(204, 0, 0, 0.2);
}

.font-12 {
    font-size: 75%;
}
.font-14 {
    font-size: 87.5%;
}
.font-15 {
    font-size: 93.75%;
}
.font-16 {
    font-size: 100%;
}
.font-17 {
    font-size: 106.25%;
}
.font-18 {
    font-size: 112.5%;
}
.font-20 {
    font-size: 125%;
}

.external-search {
    border-top: 1px solid grey;
    padding-top: 10px;
    margin-top: 10px;
}

.external-search ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.external-search li {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 6fr 3rem;
    gap: 1rem;
    height: 4rem;
}

.external-search input {
    padding: 0.3rem;
}

.external-search li .delete {
    display: flex;
    padding: 0;
    color: var(--accent-color);
}

.external-search input.name {
    width: 100%;
}

.external-search input.url {
    width: 100%;
}

.radio-label {
    display: inline-flex;
    align-items: center;
    margin-right: 2rem;
    gap: 0.5rem;
}
