.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    color: var(--header-font-color);
    background: var(--header-bg-color);
    border-bottom: solid 3px var(--accent-color);
}

.logo {
    height: 27px;
    margin-left: 20px;
    flex: 1;
}

.user {
    position: relative;
    font-size: 1.5rem;
    margin: 0 1rem;
    word-break: break-all;
    cursor: pointer;
}

.user .menu {
    display: none;
    position: absolute;
    background-color: var(--header-bg-color);
    right: 0;
    overflow: auto;
    min-width: 10rem;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user .menu.open {
    display: block;
}

.user .menu a {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--header-font-color);
    padding: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.user .menu a:hover,
.user .menu a:focus {
    background-color: var(--accent-color);
}

.menu a .menu-option-sign {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    color: var(--header-font-color);
}

.button-container {
    width: 13px;
    height: 26px;
    flex-shrink: 0;
}

#back-btn {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

#back-btn:active {
    transform: scale(0.9);
}

#back-btn svg {
    width: 100%;
    height: auto;
}

#back-btn svg path {
    fill: var(--header-font-color);
}

#back-btn:hover svg path {
    fill: var(--grey-4);
}

#back-btn:focus {
    outline: 1px dotted var(--grey-4);
}
