postponed-list h2 {
    font-size: 2rem;
    margin: 0 1rem 1rem 1rem;
}

postponed-list h2 .show-count {
    font-size: 1.6rem;
    font-weight: normal;
    color: #676767;
}


postponed-list ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5rem 0;
}

postponed-list li {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
}

postponed-list li:nth-child(2n) {
    background-color: #EEEEEE;
}


postponed-list .postponed-show-title {
    flex: 1;
    overflow-x: hidden;
}

postponed-list .title-1{
    font-weight: bold;
}

postponed-list .title-2{
    font-size: 1.2rem;
    color: #676767;
}

postponed-list .postponed-episodes-count {
    overflow-x: hidden;
    white-space: nowrap;
    align-self: center;
}
