show-calendar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

show-calendar li {
    padding: 0;
    margin: 0;
}

show-calendar .month-name {
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--accent-color);
}

show-calendar .month-total {
    color: var(--grey-5);
    font-size: 1.6rem;
}

show-calendar ul.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}

show-calendar .calendar > li {
    font-size: 1.4rem;
    padding: 0.4rem 0;
}

show-calendar .calendar > li:nth-child(2n) {
    background-color: var(--grey-1);
}

.calendar-row-container {
    display: flex;
    flex-direction: row;
}
.calendar-episodes-batch {
    display: flex;
    flex-direction: column;
}

show-calendar .calendar-date {
    text-transform: capitalize;
    align-self: center;
    text-align: center;
    width: 4rem;
    padding: 0 4px;
}

show-calendar .calendar-ep {
    flex: 1;
    padding: 0 1rem;
    overflow-x: hidden;
    align-self: center;
}

show-calendar .calendar-show-title {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

show-calendar .calendar-show-title a {
    font-weight: bold;
    color: var(--font-color);
}

show-calendar .calendar-ep-info {
    font-size: 1.2rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

show-calendar .calendar-ep-number {
    color: var(--accent-color);
}

show-calendar .calendar-ep-title a {
    color: var(--grey-5);
}

show-calendar .calendar-days-left {
    align-self: center;
    text-align: center;
    overflow: hidden;
    width: 4.5rem;
}

show-calendar .calendar-episodes-batch {
    display: none;
}

/* show-calendar .expandable:not(.expanded) .calendar-episodes-batch {
    display: block;
} */

show-calendar .expandable.expanded .calendar-episodes-batch {
    display: block;
}

show-calendar .calendar-episodes-batch ul {
    margin-left: 6rem;
}
show-calendar .calendar-episodes-batch li {
    margin-top: 0.5rem;
}

show-calendar .triangle {
    position: relative;
    width: 2rem;
    border: 0;
    background: transparent;
    cursor: pointer;
}

show-calendar .triangle {
    display: none;
}

show-calendar .expandable .triangle {
    display: block;
}

show-calendar .triangle:focus {
    outline: 1px solid var(--grey-7);
}

show-calendar .triangle:after {
    content: '';
    position: absolute;
    top: calc(50% - 0.2rem);
    right: calc(50% - 0.4rem);
    width: 0.4rem;
    height: 0.4rem;
    border: solid var(--grey-4);
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    transition: 0.25s;
}

show-calendar .expanded .triangle:after {
    transform: rotate(45deg);
}

show-calendar .triangle:focus:after,
show-calendar .expandable:hover .triangle:after {
    border-color: var(--accent-color);
}

show-calendar .expandable:hover {
    cursor: pointer;
}
