* {
    box-sizing: border-box;
}

html, body {
    width: 200px;
}

#show-list {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#show-list li {
}


#episode-list {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}
